spring:
  application:
    name: gulimall-product
  datasource:
    username: root
    password: root
    url: jdbc:mysql://169.254.139.10:3306/gulimall_sms
    driver-class-name: com.mysql.cj.jdbc.Driver