spring:
  application:
    name: gulimall-cart
  datasource:
    username: root
    password: root
    url: jdbc:mysql://169.254.139.10:3306/gulimall_pms
    driver-class-name: com.mysql.cj.jdbc.Driver